h1
{
    text-align: center;
    color: white;
    font-size : 60
}
h2
{
    text-align: center;
    color: white;
    font-size: 60
}
body
{
    background-color: #673AB7;
    text-align: center;
}
p
{
    text-align: rigth;
    color: white;
    font-size : 30

}.under
{
	text-decoration: underline;
}