h1
{
	text-align: center;
	color: white;
	font-size : 60
}
h2
{
	text-align: center;
	color: white;
	font-size: 40
}
body
{
	background-color: #673AB7;
	text-align: center;
}
p
{
	text-align: rigth;
	color: white;
}
.under
{
	text-decoration: underline;
}
